body.dark {
  -webkit-font-smoothing: antialiased;

  --bg: darkslategray;
  --textNormal: rgba(255, 255, 255, 0.88);
  --textTitle: white;
  --textLink: yellow;
  --hr: hsla(0, 0%, 100%, 0.2);
  background-color: black;
}

.item {
  width: 200px;
  height: 400px;
  background-color: aqua;
}
.iner-carousel {
  display: flex;
  flex-wrap: none;
  gap: 20px;
  margin: auto;
  background-color: blanchedalmond;
}

.carousel {
  overflow: hidden;
}
